.reportViewer .react-grid-Grid {
    color:rgba(0, 0, 0, 0.65);
}
.rbu-viewer .rbu-viewer-header-button {
    cursor: pointer;
}
.rbu-viewer div.rbu-viewer-header-button {
    display: inline;
}
.rbu-viewer-filter-popover-content {
    display:flex;
    flex-direction: column;
    width: 300px;
}
.rbu-viewer-filter-popover-content>div {
    display:flex;
}
.rbu-viewer-filter-popover-content>div:first-child {
    margin-bottom: 10px;
}
.rbu-viewer-filter-popover-content>div:first-child .ant-input {
    height: 24px;
}
.rbu-viewer-filter-popover-content>div>div:first-child {
    margin-right: 10px;
}
.rbu-viewer-filter-popover-content>div:last-child>* {
    margin-right: 10px;
}
.rbu-viewer-filter-popover-content .ant-select-selection-selected-value {
    white-space: nowrap;
}

.rbu-viewer div.rbu-viewer-header {
    display: flex;
    justify-content: space-between;
}
.rbu-viewer .rbu-viewer-header>span {
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rbu-viewer .rbu-viewer-header>div {
    flex: 0 0 auto;
}
.rbu-viewer .rbu-viewer-total {
    height: 35px;
    overflow: hidden;
}
.rbu-viewer .react-grid-Cell{
    border-left:  0;
    border-right:  0;
    font-weight: bold;
}
.rbu-viewer .rbu-viewer-total .react-grid-Cell{
    border:  0 !important;
    font-weight: bold;
}
.rbu-viewer .rbu-viewer-total .rdg-selected {
    display: none;
}
.rbu-viewer .rbu-viewer-total  .react-grid-Viewport {
    top: 0px !important;
}

.rbu-viewer .rbu-viewer-total  .react-grid-Canvas {
    overflow-y: hidden !important;
}
.rbu-viewer .react-grid-HeaderCell-sortable span.pull-right{
    display: none !important;
}
.rbu-viewer.no-data-placeholder {
    background-size: 350px;
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
}
.rbu-viewer.no-data-placeholder span,
.rbu-viewer.not-built-placeholder span {
    margin-top: 400px;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.65);
}

.rbu-viewer.not-built-placeholder {
    background-size: 350px;
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
}

.rbu-viewer {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    align-content: stretch;
}

.rbu-viewer>div.ant-spin-nested-loading {
    height: auto;
    display: flex;
    flex-grow: 1;
    align-content: stretch;
}

.rbu-viewer>div.ant-spin-nested-loading>div.ant-spin-container {
    height: auto;
    display: flex;
    flex-grow: 1;
    align-content: stretch;
}

.rbu-viewer-layout {
    display: flex;
    flex-grow: 1;
    align-content: stretch;
    overflow: hidden;
}

.rbu-viewer-numbers {
    display: flex;
    align-content: stretch;
    flex: 0 0 auto;
    width: 38px;
}

.rbu-viewer-report {
    display: flex;
    align-content: stretch;
    flex-direction: column;
    flex: 1 0 auto;
    width: 0;
}

.rbu-viewer-total {
    display: flex;
    align-content: stretch;
    flex: 0 0 auto;
}