table tr.rbu-fe-drop-over-downward td {
  border-bottom: 2px dashed #1890ff !important;
}

table tr.rbu-fe-drop-over-upward td {
  border-top: 2px dashed #1890ff !important;
}

.rbu-fe-icon-button {
  cursor: pointer;
}

.rbu-fe-editable-cell-grey { 
  color: rgba(0, 0, 0, 0.25);
}

.rbu-fe-editable-cell {
  position: relative;
}

.rbu-fe-editable-cell-input-wrapper,
.rbu-fe-editable-cell-text-wrapper {
  padding-right: 24px;
}

.rbu-fe-editable-cell-text-wrapper {
  padding: 5px 24px 5px 5px;
}

.rbu-fe-editable-cell-icon,
.rbu-fe-editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.rbu-fe-editable-cell-icon {
  line-height: 18px;
  display: none;
}

.rbu-fe-editable-cell-icon-check {
  line-height: 28px;
}

.rbu-fe-editable-cell:hover .rbu-fe-editable-cell-icon {
  display: inline-block;
}

.rbu-fe-editable-cell-icon:hover,
.rbu-fe-editable-cell-icon-check:hover {
  color: #108ee9;
}

.rbu-builder-editor-fields .ant-table table thead>tr>th:nth-child(2)>div {
  position: relative;
  left: 8px;
  top: -1px;
}
.rbu-builder-editor-fields .ant-table table thead>tr>th:nth-child(2)>div>i {
  color: rgba(0, 0, 0, 0.85);
  cursor: default;
}
.rbu-builder-editor-fields thead.ant-table-thead>tr>th:first-child,
.rbu-builder-editor-fields tbody.ant-table-tbody>tr>td:first-child {
  padding: 4px 16px;
  width: 100%;
}
.rbu-builder-editor-fields thead.ant-table-thead>tr>th,
.rbu-builder-editor-fields tbody.ant-table-tbody>tr>td {
  padding: 4px;
}
.rbu-builder-editor-fields tbody.ant-table-tbody>tr>td {
  border-color: transparent;
}

.rbu-builder-editor-fields thead.ant-table-thead>tr>th:first-child>div,
.rbu-builder-editor-fields tbody.ant-table-tbody>tr>td:first-child>div {
  width: auto;
}
.rbu-builder-editor-fields thead.ant-table-thead>tr>th>div,
.rbu-builder-editor-fields tbody.ant-table-tbody>tr>td>label,
.rbu-builder-editor-fields tbody.ant-table-tbody>tr>td>i {
  width: 14px;
}

.rbu-builder-editor-fields .ant-table-body tr>td:first-child  {
  position: relative;
  height: 32px;
}
.rbu-builder-editor-fields .ant-table-body tr>td:first-child .rbu-fe-editable-cell,
.rbu-builder-editor-fields .ant-table-body tr>td:first-child .rbu-fe-editable-cell .rbu-fe-editable-cell-text-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 30px;
}
.rbu-builder-editor-fields .ant-table-body tr>td:first-child .rbu-fe-editable-cell {
  margin: 2px 12px 0;
}
.rbu-builder-editor-fields .rbu-builder-item-content>div,
.rbu-builder-editor-fields .rbu-builder-item-content>div>.ant-table-wrapper,
.rbu-builder-editor-fields .rbu-builder-item-content>div>.ant-table-wrapper>div,
.rbu-builder-editor-fields .rbu-builder-item-content>div>.ant-table-wrapper>div>div,
.rbu-builder-editor-fields .rbu-builder-item-content>div>.ant-table-wrapper>div>div>div,
.rbu-builder-editor-fields .rbu-builder-item-content>div>.ant-table-wrapper>div>div>div>div,
.rbu-builder-editor-fields .rbu-builder-item-content>div>.ant-table-wrapper>div>div>div>div>div {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  height: 0;
  flex-grow: 1;
}
.rbu-builder-editor-fields .rbu-builder-item-content>div>.ant-table-wrapper>div>div>div>div>div>.ant-table-header {
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
.rbu-builder-editor-fields .rbu-builder-item-content>div>.ant-table-wrapper>div>div>div>div>div>.ant-table-body {
  flex-grow: 1;
}
.rbu-builder-editor-fields .rbu-builder-item-content>div>.ant-table-wrapper>div>div>div>div>div>.ant-table-placeholder {
  display: none;
}
.rbu-fe-editable-cell-text-tooltip label {
  font-weight: bold;
}
.rbu-fe-editable-cell-text-tooltip label::after {
  content: ': ';
}