.rbu-rl-root {
    background-color: #F1F2F6;
    height: calc(100vh - 71px);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.rbu-rl-root>* {
    margin: 0 10px 10px 10px;
}

.rbu-rl-root>*:first-child {
    margin-top: 10px;
}

.rbu-rl-header {
    padding: 0.5em;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
}

.rbu-rl-header > :not(:last-child) {
    margin-right: 1em;
}

.rbu-rl-header > button:first-of-type {
    margin-left: 67px;
}
.rbu-rl-header > button {
    color: #0079c0;
    font-weight: bold;
}
.rbu-rl-header > button.ant-btn.ant-dropdown-trigger > i {
    transform: scale(1);
}
.rbu-rl-header > button:not(:last-of-type):not(:disabled) svg {
    color: #E8874D;
}
.rbu-rl-header > button:nth-child(5):not(:disabled) svg {
    color: #128C00;
}

.rbu-rl-header-search {
    width: 16em;
}

.rbu-rl-header-search input {
    height: 24px;
}

.rbu-rl-filler {
    display: flex;
    flex-direction: column;
    height: 0;
    flex: 1 1 auto;
}

.rbu-rl-body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

.rbu-rl-body>*:not(:first-child) {
    margin-left: 10px;
}

.rbu-rl-body-menu {
    display: flex;
    align-items: stretch;
    overflow-y: auto;
    overflow-x: hidden;
    width: 300px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
}

.rbu-rl-body-menu>div {
    width: 100%;
    flex-grow: 1;
    height: 0;
}

.rbu-rl-body-menu ul.ant-menu {
    border-right: none;
}

.rbu-rl-body-menu-item-text {
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 18em;
}

.rbu-rl-body-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 24px;
    padding-left: 1em !important;
}

.rbu-rl-body-menu-item.ant-menu-item-selected {
    background-color: #1890ff;
    color: black;
}

.rbu-rl-body-menu-item:hover {
    color: #1890ff;
}

.rbu-rl-menu-item-button {
    padding: 0 !important;
    border-color: transparent !important;
    background-color: transparent;
}

.rbu-rl-menu-item-button .anticon {
    margin-right: 0;
}

.rbu-rl-menu-item-button-custom .anticon {
    margin-top: 3px;
}

.rbu-rl-body-content {
    flex: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    overflow: hidden;
}

.rbu-rl-body-content-button-area {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
}